{% extends 'base.html' %} {% block forms %}
<section class="show-user">
  <div class="container d-flex p-3">
    <div class="container  bg-light border border-1 rounded-1 shadow-lg p-4">
      <div class="container">
        <div class="row">
          <div class="row">
            <div class="col"></div>
          </div>
          <div class="row">
            <div class="col">
              {% for data in repository_name%}
              <ul>
                <a href="https://github.com/{{user_nick}}/{{data.name}}">
                <p>{{data.name}}</p></a>
              </ul>
              {% endfor %}
            </div>
            <div class="col">
              {% for data in repository_name%}
              <ul>
                <p>{{data.stargazers_count}}</p>
              </ul>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
