:root {
  --color-light: #ecf0f3;
  --color-gray: #f8f9fcaf;
  --color-light-blue: #e3f2fd;
  --color-white: #fff;

}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color:var(--color-gray);
}

