:root {
  --color-light: #ecf0f3;
  --color-gray: #dee2e6;
  --color-light-blue: #e3f2fd;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color:var(--color-gray);
}
.navbar {
  height: 5rem;
  background-color: black;
  color: white;
}
.nav-link {
  color: rgb(28, 46, 46);
}
.nav-link:hover {
  text-decoration: underline;
  color: gray;
}
